<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>
        some website
    </title>
    <body>
        <h1>we'll be right back</h1>
        <p>
            the website is currently being updated.
        </p>
    </body>
</html>